<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BASE HTML DOCUMENT</title>

    <style>

        body {
            /* margin: 10px; */
            padding-top: 50px;
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }

        header {
            height: 20px;
            background-color: #555555;
            color: white;
            padding: 0px;
            text-align: center;
        }


    </style>
</head>
<body>

    {% include 'navbar.html' %}
    
    <div id="header">
        {% block header %} 
        <header>
            <h3  id="h1Test"> Header in base.html </h3>
                <!-- <ul >
                    <li style="display: inline;"><a style="text-decoration: none; color:white; font-weight:bold;" href="#">About</a></li>
                    <li style="display: inline;"><a style="text-decoration: none; color:white; font-weight:bold;" href="#">Contact</a></li>
                </ul> -->
        </header> 
        {% endblock header %}
    </div>
    
    <div id="content">
        {% block content %} 
        <h1>Content in base.html</h1>
        {% endblock content %}
        
    </div>
    
    <div id="footer">
        {% block footer %}
        
        <footer style="background-color: #333; color: white; padding: 15px; text-align: center;">
            <p style="margin: 0;">&copy; 2042 This is a foooooooter</p>
        </footer>
         

        <h1>POTATO from Base.html footer div</h1> 

        {% endblock footer %}
    </div>

</body>
</html>